* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  gap: 10px;
  margin-top: 20%;
  padding: 20px;
}

.wrapper p {
  text-align: center;
  font-size: 1.6rem;
  background-color: #ededed;
  padding: 10px 10px;
  border-radius: 10px;
  color: #1b5c1a;
}

.wrapper input {
  padding: 16px 10px;
  font-size: 1.6rem;
  border-radius: 7px;
  border: 2px solid #959595;
  width: 100%;
  text-align: center;
}

.wrapper button {
  border: none;
  font-size: 1.3rem;
  border-radius: 7px;
  background-color: #149542;
  color: white;
  padding: 13px;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
}

.wrapper button:hover {
  background-color: #0e7030;
}
